<div class="wrap-sidebar">
    <div class="sidebar">
        <ul>
                <% 
                for (const key of sidebar) { 
                    %>
                    <li>
                        <div class="line <%=key.page_name==page_parent_active?'active':''%>">
                            <a href="<%=key.href%>"><%=key.title%></a>
                            <% 
                            if(key.child.length>0){ %>
                                
                                <a href="#" class="wrap-arrow my-dropdown-button" dropdown-menu-name="#<%=key.page_id%>">
                                    <img class="arrow-down" src="/images/index/arrow-down.png" alt="">
                                </a>

                        </div>
                        <div class="wrap-child <%=key.page_name==page_parent_active?'':'d-none'%>" id="<%=key.page_id%>">
                            <ul>
                                <%
                                    for (const key2 of key.child) {
                                        %>
                                        <li class="<%=key2.page_name==page_name?'active':''%>"><a href="<%=key2.href%>"><%=key2.title%></a></li>
                                        <%
                                    }
                                %>
                            </ul>
                        </div>
                        <%
                            }
                        %>

                    </li>
                    <%
                        } 
                    %>
        </ul>
    </div>
</div>