<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- //include('../partials/cms/meta.ejs') %>

    <title>ádasd</title>

    <%- //include('../partials/cms/head-import.ejs') %>




</head>

<body>
    <h2>asdasd</h2>
    <!-- ----- ----- header ----- ------->
    <div class="body-contain d-flex">
        <%- body %>
    </div>


    <!-- footer -->
    <%- //include('../partials/cms/footer.ejs') %>

</body>

</html>
<%- //include('../partials/cms/foot-import.ejs') %>
